@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}
:root {
  --bg-color: #fff;
  --text-color1: #1f1f21;
  --text-color2: #fff;
  --main-color: #15a6f5;
  --element-color: #26306e;
  --element-color2: #16f4ba;
  --element-color3: #febf01;
  --element-color4: #d5d8d9;
  --element-color5: #202428;

  --big-font: 3.3rem;
  --title-font: 40px;
  --p-font: 1rem;
}

.content {
  background: url(../images/bg-login.jpg);
}
.content h1 {
  font-size: var(--big-font);
  font-weight: 600;
  color: var(--element-color4);
  max-width: 350px;
}
.content p {
  font-size: var(--p-font);
  color: var(--element-color4);
  font-weight: 500;
}

/* right */
.form {
  background-color: var(--element-color4);
}
.form h2 {
  font-size: 25px;
  font-weight: 600;
  color: var(--element-color5);
}
.form p {
  font-size: 12px;
  color: #505050;
  font-weight: 600;
}
.form a {
  color: var(--text-color1);
  opacity: 100%;
  text-decoration: none;
}
input[type="email"] {
  border: none;
  border-bottom: 1.5px solid var(--element-color5);
  outline: none;
}

input[type="email"]:focus {
  border-bottom-color: var(--element-color5);
  border-bottom: 2px solid var(--element-color5);
}
input[type="password"] {
  border: none;
  border-bottom: 1.5px solid var(--element-color5);
  outline: none;
}

input[type="password"]:focus {
  border-bottom-color: var(--element-color5);
  border-bottom: 2px solid var(--element-color5);
}
::placeholder {
  font-weight: 500;
  font-size: 15px;
}

.login p {
  font-size: 15px;
  color: var(--element-color5);
}

.link p {
  font-size: 13px;
  font-weight: 600;
  color: #505050;
}
.link a {
  font-weight: 600;
}

.btn {
  font-size: 15px;
  color: var(--text-color1);
  font-weight: 600;
  background-color: var(--element-color3);
  border: 1px solid var(--element-color5);
}
